@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

:root{
    --Navy : #213448;
    --BabyBlue: #547792;
    --BabyBlue2 : #94B4C1;
    --Cold : #ECEFCA;
}

body{
    background-color: var(--Cold);
    color: var(--Navy);
    font-family: 'Inter', sans-serif;

}
img{
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    color: #213448;
    font-family: 'DM Sans', sans-serif;
}

span{
    color: #547792;
}

p{
    color: var(--Navy);
}
input,button,select,textarea{
    outline: none;
    border: none
}

a{
    text-decoration: none;
    color: var(--Navy);
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1350px;
}   